#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


}

.case {
  padding: 30px;
  background-color: var(--case-color);
  border-radius: 20px;
  background-image: url(./assets/splatoon3-pattern-02-2560x1440-1.webp);
}