#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


}

.case {
  padding: 30px;
  background-image: var(--case-img);
  background-color: var(--case-color);
  border-radius: 20px;
}